<div>
  <div class="banner-content">
    <%= cl_image_tag("levelUPbannerScaled-01.png", class: "banner") %>
      <div>
        <a id='create_button' class="btn btn-primary btn-lg" <%= link_to 'Create Challenge', new_challenge_path %> </a>
        <a id='browse_button' class="btn btn-warning btn-lg" <%= link_to 'Browse Challenges', challenges_path %> </a>
      </div>
  </div>
</div>



