
<div class="container">
  <h1>Challenges</h1>

<div class="cards">
  <% @challenges.each do |challenge| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/300x200)">
    <%= challenge.title %>
  </div>
  <% end %>
</div>

</div>
