.card {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  width: 35em;
  height: 100%;
  background-size: cover !important;
  margin-top: 1em;
  margin-bottom: 3em;
  padding-bottom:40px;
}
.card-header{
  display: flex;
  align-content: flex-start;
  margin-top:.3em;
  margin-bottom: .5em;
  padding-top: 5px;
  padding-bottom: 0px;
}
.card-avatar{
  position: relative;
  left:20px;
  top: .4em;
  font-weight:bold;
  color: black;
}
#header-body{
  position: relative;
  vertical-align: center;
  left: 40px;
  top: .4em;
  color: black;
  p{
    font-weight: lighter;
  }
}
.card-user-image{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.card-content{
  max-width: 35em;
  height: 40em;
  background-size: cover !important;
}
.card-footer{
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: top;
  color: black;
  margin: 1px solid #e6e6e6;
}
#footer-content{
  padding: 20px;
  p{
    font-weight: lighter;
  }
}
.footer-action-icons{
  font-size: 16px;
  color: #ccc;
}
.card:hover {
 border-width: 2px;
}
.card:hover a {
  text-decoration: none;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
.container{
  padding-left: 8em;
}
body{
  background-color: #fafafa;
  // padding-left: 12.5em;
  font-family: 'Droid Sans', sans-serif;
}
a{
  text-decoration: none;
}
