.simple_form label {
  float: left;
  width: 100%;
  text-align: left;
  margin: 2px 10px;
  color: #f4793b;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
  width: 200px;
}
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
  background-size: 30px;
}
