.simple_form label {
  float: left;
  width: 100%;
  text-align: left;
  margin: 2px 10px;
  color: #f4793b;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
  width: 200px;
}
input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
  background-size: 30px;
}
#challenge_form{
  background-color: rgb(230,230,230);
  padding: 50px;
  box-shadow: 5px 5px 150px;
  border-radius: 10px;
  margin-bottom: 100px;
}
#challenge_header{
  background-color: #f4793b;
  color: white;
  padding: 50px;
  box-shadow: 5px 5px 10px;
  border-radius: 10px;
  font-size: 50px;
  font-weight: bold;
}
