.simple_form label {
  float: left;
  width: 100%;
  text-align: left;
  margin: 2px 10px;
  color: #d92c7b;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
  width: 200px;
}
input.check_boxes {

}
.check_boxes{
  color: #f4793b;
}
#challenge_form{
  background-color: rgb(230,230,230);
  padding: 50px;
  box-shadow: 5px 5px 800px;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 100px;
}
#challenge_header{
  background-color: #808181;
  color: white;
  padding: 50px;
  box-shadow: 5px 5px 800px;
  border-radius: 10px 10px 0px 0px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: -10px;
}
.btn-outline-secondary{
  color: orange;
}

